.cardHr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  color: whitesmoke;
  opacity: 0.3
}

.cardItem {
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
}

.cardItem::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

.cardItem::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: lightslategrey;
  height: 0;
}

.cardItem::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
  border-radius: 10px;
  background: white;
}

